@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%; 
    }
    50% {
        background-position: 0% 100%; 
    }
    75% {
        background-position: 100% 0%; 
    }
    100% {
        background-position: 0% 0%;
    }
}


.animate-gradient {
    background: linear-gradient(45deg, #000000, #111080);
    background-size: 400% 400%;
    animation: gradient-animation 17s ease infinite; 
}

.animate-gradientfaster {
    background: linear-gradient(45deg, #000000, #111080);
    background-size: 400% 400%;
    animation: gradient-animation 7s ease infinite; 
}


